.row{
   font-size: 40px;
}
.right-table{
    margin-left: 15%;
}
.table1{
    width: 540px;
    margin-left: 30px;
}
.table2{
    width: 540px;
}
.nav{
    background-color: pink;
    margin-bottom: 30px;
}
